<% layout('layouts/boilerplate') %>
<div class="d-flex justify-content-center">
    <div class="card mb-5 shadow" style="max-width: 25rem;">
        <img class="card-img-top" src=<%= campground.image || "https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg" %> alt="<%= campground.title %>" />
        <div class="card-body">
            <h5 class="card-title"><%= campground.title %></h5>
            <p class="card-text"><%= campground.description %>     
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted"><%= campground.location %></li>
            <li class="list-group-item">$<%= campground.price %>/night</li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-info text-white px-4">Edit</a>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                          <button class="btn btn-danger px-3">Delete</button>
                        </form>
                    </div>
                </div>
            </li>
        </ul> 
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>